<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TechnoDev Squad
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Logo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="splash-container">
        <ion-button class="technodevpage-link" (click)="goToTechnoDev()">
          <img src="assets/img/app-logo.png" alt="app-logo" class="logo">
        </ion-button>
    </div>
  </div>
</ion-content>
