#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
    width: 300px; 
    height: 300px;
    filter: drop-shadow(0 0 10px #fffdef);
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}

